bin/*

debug_obj/*
release_obj/*

testdir/*

load
load.db

.depend


*.swp


omp_bench/bench_omp

load-bench/load
load-bench/load.db


load-bench/debug_obj/*
load-bench/release_obj/*
load-bench/bin/*

load-bench/results.txt

bandwidth-1.3.1/*.o
bandwidth-1.3.1/bandwidth*


monothread-bench/load
monothread-bench/load.db


monothread-bench/debug_obj/*
monothread-bench/release_obj/*

report/build/*

cache-simulation/NRU/_build/*
cache-simulation/NRU/nain.native

cache-simulation/PLRU/_build/*
cache-simulation/PLRU/nain.native
